{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets" : {
          "ie" : "11",
          "browsers" : "last 3 versions"
        },
        "loose" : true
      }
    ]
  ],
  "plugins" : [
    "@babel/plugin-transform-object-assign"
  ]
}
